body {
    background: url(1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  color: white;}
  h1{
    text-align: center;
    color: red;
    text-shadow: 2px 2px 4px white;
  }
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
img{
  margin: 10px;
  height: 250px;
  width: 250px;
}
